body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 50px;
  font-family: 'Open Sans', Helvetica;
}

.content {
  width: 50%;
  background-color: #333333;
  padding: 60px;
}

label {
  width: 200px;
}

.input {
  width: 200px;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #4A4A4A;
  color: white;
  letter-spacing: -1px;
  outline: 0;
  transition: all 0.3s;
  font-size: 36px;
}

.input__text {
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  transform: translateY(-30px);
  width: 200px;
  color: #9B9B9B;
  cursor: text;
  text-transform: uppercase;
  transition: all 0.3s;
  margin-bottom: 30px;
}

.input:focus + .input__text {
  font-size: 13px;
  transform: translateY(-60px);
}

.input:valid + .input__text {
  font-size: 13px;
  transform: translateY(-60px);
}